<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="">
    <header><%- include('../partials/header'); %></header>

    <main>
        <div class="team-content">
            <div class="team-container">
                <div class="row">
    <% players.forEach(player => { %>
        <div class="box-player">
            <div class="first-info">
                <div class="number-player">
                    <img src="<%= player.imageNumber %>"  alt="">
                </div>
                <div class="name-position">
                    <h1 class="name-player"><%= player.name %> </h1>
                    <h1 class="position-player"><%= player.position %> </h1>
                </div>
               <% if (player.isCaptain > 0) { %>
                <img src="../access/captain.png" alt="" class="cap">
               <% } %> 
            </div>
            <img src="<%= player.image %>"  alt="" class="picture-player">
        </div>
    <% }); %> 
                </div>
            </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>